version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-service:
    container_name: auth-service
    build: ./auth-service
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: ${AUTH_DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES: ${JWT_EXPIRES}
    depends_on:
      - postgres
    networks:
      - app-network

  schedule-service:
    container_name: schedule-service
    build: ./schedule-service
    ports:
      - "3002:3000"
    environment:
      DATABASE_URL: ${SCHEDULE_DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres_data:
